html{
background-color:#e4c1f9;
font-size:10px;}

h1{
color:#9b5de5;
font-family: 'Lobster', cursive;}

p{
color:white;}

p{
text-decoration:underline;}

li{
color:#8a2846;}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100px;
border:5px solid white;}

.flex{
display:flex;}




